.temp-taxi {
  text-align: center;
  padding: 20px;
}

.temp-taxi h1 {
  font-size: 32px;
  color: #333;
}

.temp-taxi h2 {
  font-size: 24px;
  color: #333;
}
.temp-taxi img {
  max-width: 30%;
  height: auto;
  margin: 20px 0;
}

.temp-taxi p {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.temp-taxi .buttons {
  margin-top: 20px;
}

.temp-taxi .button {
  width: 200px;
  display: inline-block;
  padding: 12px 24px;
  background-color: #7b8a99;
  color: #fff;
  text-decoration: none;
  border-color: black;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  font-size: 16px;
  cursor: pointer;
}

.temp-taxi .button:hover {
  background-color: black;
}
